<div class="main-div">
    <div class="page-title"  >
        BOOKS LIST
    </div>
    <br>
    <div class="list-layout">
        <!-- [routerLink]="['/get-books/{{book.name}}']" -->
        <div *ngFor="let book of bookList"    class="card-book">
            <div>
                <img src="{{book.url}}" class="img-book-card">
                <div class="book-name">{{book.name}}</div>
                <div class="author">{{book.author}}</div>
                 <div  *ngIf="book.onRent ==true" (click)="returnBook(book)"class="buttonListReturn">
                    RETURN
                </div>
                <div  *ngIf="!book.onRent ==true"  (click)="viewBookDetails(book)"  class="buttonListRent">
                    RENT
                </div>
            </div>
        </div>
    </div>
</div>